html, body {
	width: 100%;
	background-color: #888; 
}

.site {
	width: 100%;
	overflow: hidden;
}

.container, .wrap {
	@include outer-container;
	padding: 0 20px;
	@include media($wide-screen-up) {
		padding: 0;
	}	
}

.site-content {
	background-color: #fcfcfc;
}

/*--------------------------------------------------------------
5.1 Site Layout
--------------------------------------------------------------*/
// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
5.2 Site Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
5.3 Site Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
5.4 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
5.5 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
5.6 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
5.7 Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

