// Header Bar white - with fixed height
.site-header {
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	// height: 48px;
	.site-branding {
		@include hide-text;
		display: inline-block;
		float:left;
		margin-left: 20px;
		width: 100px;
		height: 48px;
		.site-title a {
			@include hide-text;
			float:left;
			display: inline-block;
			width: 100px;
			height: 48px;
			background: red;
		}
	}
	
	.main-navigation {		
		position: relative;
		z-index: 99;
		clear: both;
		display: block;
		float: left;
		width: 100%;
		background: #e7e7e7;
		// margin: 0 20px;
		font-size: 15px;
	
		ul {
			padding: 0 20px;
			@include outer-container;
			@include media($wide-screen-up) {
				padding: 0;
			}	
			display: none;
			list-style: none;
			padding-left: 0;
			// margin: 0 20px;
	
			ul {
				background: rgba(#e7e7e7, 0.75);
				margin: 0;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 40px;
				left: -999em;
				z-index: 99999;
	
				ul {
					left: -999em;
					top: 0;
				}
	
				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
	
				a {
					width: 200px;
					line-height: 36px;
					color: #333;
				}
	
				:hover > a,
				.focus > a {
				}
	
				a:hover,
				a.focus {
				}
			}
	
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			float: left;
			position: relative;
	
			&:hover > a,
			&.focus > a {
			}
		}
		a {
			display: block;
			text-decoration: none;
			line-height: 40px;
			padding: 0 10px;
			color: #000;
		}
	
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
		}
	}
	
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}
	
	@media screen and (min-width: 37.5em) {
		.menu-toggle {
			display: none;
		}
		.main-navigation ul {
			display: block;
		}
	}
	
}